<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Shopycds</title>
		<style>
			@import "tailwindcss";
		</style>
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
		<script>
			const myWorker = new Worker(
				new URL("../db/loadByAdmin.js", import.meta.url),
				{
					type: "module",
				},
			);
			globalThis["myWorker"] = myWorker;
			myWorker.onmessage = (message) => {
				console.log(message.data);
			};
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
