<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Shopycdys Admin</title>
	</head>
	<style>
		@import "tailwindcss";
		@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
		@import "flowbite/src/themes/default";
	</style>
	<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	<body>
		<slot />
	</body>
</html>
