<div
    class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead
            class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium"
            id="renderColumnsEvents"
        >            
        </thead>
        <tbody id="renderEvents">
            <!-- Data rows will be inserted here by JavaScript -->
        </tbody>
    </table>
</div>
<script>
    
</script>