---
import CdsDatatable from "./CdsDatatable.astro";
import CdsForm from "./CdsForm.astro";
---

<div class="flex flex-col mt-[5%] gap-6">
    <div>
        <h1 class="text-2xl font-semibold text-heading mb-4 text-center">Gestión de Cds</h1>
    </div>
    <div class="flex flex-row justify-end">
        <CdsForm />
    </div>
    <div class="p-5">
        <CdsDatatable />
    </div>
</div>