<div class="flex">
    <div id="shop" class="w-[75%]"></div>
    <div id="cart" class="w-[25%]"></div>
</div>
<script type="module">
    import { ShopingCard } from '../shared/ShopingCard.js';
    const tienda = ShopingCard();
    //cargar carrito de mierda
    
</script>