<section class="w-[95wv] p-10 text-center text-white p-8 flex flex-col justify-center items-center bg-gradient-to-b from-white to-black" id="sobrenosotros">
    <h2 class="font-bold text-black">Sobre nosotros</h2>
    <p class="font-bold text-black">En Shopycds, nos apasiona la música y nos dedicamos a ofrecer una experiencia única para los amantes de los discos y eventos musicales. Nuestra tienda es un espacio donde puedes encontrar una amplia selección de vinilos, CDs y merchandising relacionado con tus artistas favoritos. Además, organizamos eventos exclusivos que te permiten conectarte con la música en vivo y descubrir nuevos talentos.</p>
    <p class="font-bold bg-gradient-to-b from-gray-300 to-white bg-clip-text text-transparent">Nuestro equipo está compuesto por entusiastas de la música que están comprometidos a brindarte un servicio excepcional. Ya sea que estés buscando ese álbum clásico que siempre has querido o quieras asistir a un concierto inolvidable, estamos aquí para ayudarte a encontrar lo que necesitas.</p>
    <p class="font-bold bg-gradient-to-b from-gray-300 to-white bg-clip-text text-transparent">Gracias por elegir Shopycds como tu destino musical. ¡Esperamos verte pronto en nuestra tienda o en uno de nuestros eventos!</p>
    <p class="font-bold bg-gradient-to-b from-gray-300 to-white bg-clip-text text-transparent">El diseño de esta página tiene como forma de pensar el tener todo integrado para que la tienda muestre toda su actividad real, separando la tienda y los eventos de la página principal para tener una visión más limpia. En la landing se establecerá todo lo relativo a estadísticas y cosas</p>
</section>
<script>
    // Aqui vamos a poner un scroll que haga que aparezcan los elementos del AboutUs para cuando llegue a la mitad de todo se mostrará la sección
</script>