---
import NotifictionAlert from "./shared/NotificationAlert.astro";
const errorType = '';
const errorMessage = '';
---

<div id="notification" class="fixed top-0 z-1000">
    <NotifictionAlert
        client:load
    />
</div>
<footer
    class="bg-black text-white rounded-base shadow-xs m-auto w-full mt-8 z-5"
>
    <div class="w-[90%] max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div>
                <a
                    href="https://flowbite.com/"
                    class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
                >
                    <img
                        src="https://flowbite.com/docs/images/logo.svg"
                        class="h-7"
                        alt="Flowbite Logo"
                    />
                    <span
                        class="text-heading self-center text-2xl font-semibold whitespace-nowrap"
                        >Shopycds</span
                    >
                </a>
            </div>
        </div>
        <div class="flex w-[90%]" id="contacto">
            <div class="flex flex-col justify-between mt-4 w-[50%]">
                <h3>Contacta con nosotros</h3>
                <form action="" id="contactForm" class="flex flex-col">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        placeholder="Tu nombre"
                        class="p-2 rounded-l-base border border-default focus:outline-none focus:ring-2 focus:ring-brand focus:border-transparent w-[300px]"
                    />
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        placeholder="Tu correo electrónico"
                        class="p-2 rounded-l-base border border-default focus:outline-none focus:ring-2 focus:ring-brand focus:border-transparent w-[300px]"
                    />
                    <label for="issue">Asunto</label>
                    <input
                        type="email"
                        id="issue"
                        placeholder="Tu asunto"
                        class="p-2 rounded-l-base border border-default focus:outline-none focus:ring-2 focus:ring-brand focus:border-transparent w-[300px]"
                    />
                    <label for="message" class="block my-2.5">Mensaje</label>
                    <textarea
                        id="message"
                        rows="4"
                        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block p-3.5 shadow-xs placeholder:text-body w-[290px]"
                        placeholder="Mensaje"></textarea>
                    <button
                        id="send"
                        class="w-[100px] mt-5 bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none"
                        >Enviar</button
                    >
                </form>
            </div>
            <div class="w-[50%] mt-4">
                <h3>Ubicación</h3>
            </div>
        </div>
        <span class="block text-sm text-body sm:text-center"
            >© 2025 <a href="https://flowbite.com/" class="hover:underline"
                >Jafet™</a
            >. Todos los derechos reservados.</span
        >
    </div>
</footer>
<script>
    const contactForm = document.getElementById("contactForm");
    const sendButton = document.getElementById("send");
    let errorType = "Correcto";
    let errorMessage = "";
    sendButton.addEventListener("click", (e) => {
        e.preventDefault();
        let errors: any = {};
        const formJson = {
            name: contactForm.name.value,
            email: contactForm.email.value,
            issue: contactForm.issue.value,
            message: contactForm.message.value,
        };
        // validamos que el nombre tenga al menos algún caracter
        if (formJson.name.length === 0) {
            errors["name"] = "El nombre no puede estar vacío";
        }
        if (
            formJson.email.length === 0 ||
            !(new RegExp("^(\\w+\\@\\w+\\.\\w{3})$").test(formJson.email))
        ) {
            errors["email"] = "El email no es válido";
        }
        if (formJson.issue.length === 0) {
            errors["issue"] = "El asunto no puede estar vacío";
        }
        if (formJson.message.length === 0) {
            errors["message"] = "El mensaje no puede estar vacío";
        }        
        if (Object.keys(errors).length === 0) {
            // enviar el formulario
            errorMessage = "Formulario enviado correctamente";         
            globalThis.myWorker.postMessage({
                action: "contactform",
                data: formJson,
            });
        } else {
            errorType = "Error";
            errorMessage = Object.values(errors)!.map((err: string) => `${err}`).join(", ");
            console.log("Errores en el formulario", errors);
        }
        globalThis.dispatchEvent(new CustomEvent("form-error", {
            detail: {
                type: errorType,
                message: errorMessage
            }
        }));
    });
</script>
