---
import Cards from "./shared/Cards";
---
<section class="flex flex-col">
    <div class="w-full">
        <h2 class="text-2xl text-center font-semibold mb-4">Nuestros Clientes</h2>
        <p class="text-body text-center mb-6">Conoce a algunos de nuestros clientes satisfechos que han confiado en nosotros para sus necesidades.</p>
    </div>
    <div class="w-[90%] m-auto">
        <Cards client:load />
    </div>    
</section>