---
import Nav from './Nav.astro';
import Footer from './Footer.astro';
import Hero from './Hero.astro';
import AboutUs from './AboutUs.astro';
import OurCustomers from './OurCustomers.astro';
---

<!--
	Esta parte tiene que quedar bien así que eso
-->
<Nav />
<Hero />
<main> 
	<AboutUs />
	<OurCustomers />
</main>
<Footer />