---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Nav from './Nav.astro';
import Footer from './Footer.astro';
---

<!--
	Esta parte tiene que quedar bien así que eso
-->
<Nav />
<main class="h-[500vh]"> 

</main>
<Footer />